
#cabecera{
    width: 100%;
    height:  auto;
    position: relative;

}

#cab{
    width: 100%;
    height:  500px;
    position: relative;
}
#cabe{
    width: 100%;
    height:  200px;
    position: relative;
}

.topnav {
    background-color: #ffffff;
    overflow: hidden;

}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.topnav input[type=text] {
    float: right;
    padding: 4px;
    margin-top: 8px;
    margin-right: 16px;
    border-color: none;
    font-size: 17px;
}
.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.topnav .search-container button:hover {
    background: #ccc;
}

.login{

    float: right !important;
    margin-right: 10px;
    font-weight: bold;
}



.active {
    background-color: #ffffff;
    color: white;
}

.topnav .icon {
    display: none;
}



body, html {
    height: 100%;
}


.hero-image {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;

}

#myContainer{
    height: auto;
    width: 100%;
    background-color: cadetblue;
    position: relative;
}


body{
    background-color: cadetblue;
}


body {
    font-family:'Open Sans', Arial, sans-serif;
    font-weight:300;
    line-height:1.6em;
    color:#656565;
    font-size: 1.4em;
    background: #ffffff;
}

.clear {
    clear:both;
}

.description{
    text-align: center;
    color: black;
}
h2{
    font-weight: 600;
    line-height:1.1em;
    color: black;
    margin-bottom: 20px;
    text-transform: uppercase;
}
h3, h4, h5, h6 {
    line-height:1.1em;
    color: black;
    margin-bottom: 20px;
}
#discover{
    margin-top: 30px;
}
#discover1{
    margin-top: 50px;
    text-align: center;
}
.projects {
    padding: 60px 0;
    background: whitesmoke;
    color: whitesmoke;
    border-top: 4px solid #ffcccc;
}
.projects2{
    padding: 60px 0;
    background: whitesmoke;
    color: whitesmoke;
    border-top: 5px solid #ffcccc;
}
.projects3{
    padding: 60px 0;
    background: whitesmoke;
    color: whitesmoke;
    border-top: 5px solid #ffcccc;
}


.projects h4 {
    font-size: 16px;
    margin: 8px 0;
}

.projects h5 {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}
.card-content {
    position:relative;
    background: #ffffff;
    padding:15px 0 0 0;
}


.img-responsive {
    width: 100%;
    height: 250px;
    border-color: black;

}

.btn-details{

    background-color: cadetblue;
    color: white;
    border: 2px solid white;
    width: 80%;
    margin: 10px;
    margin-top: 5px;
}

.btn:hover{
    background-color: lavender;

}

#sub-footer{
    text-shadow:none;
    color: white;
    padding: 0;
    padding-top: 30px;
    margin:20px 0 0 0;
    background: #5900b3;
}

#sub-footer p{
    margin:0;
    padding:0;
}

#sub-footer span{
    color: white;
}

.copyright {
    text-align:left;
    font-size:20px;
    margin-top: 20px;
    margin-inside: 200px;
    margin-right: 40px;
}

#sub-footer ul.social-network {
    float:right;
}



#us{
    display: inline-block;
}

#discover3{
    display: inline-block;
}

#form{
    text-align: center;
    margin-top: 80px;
    font-weight: bold;

}

#submit{
    background-color: cadetblue;
    border: 2px solid white;
}